@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}

@font-face {
    font-family: 'Passion One';
    src: url(fonts/PassionOne-Regular.ttf) format('opentype');
    font-weight: normal;
}

@font-face {
    font-family: 'Sriracha';
    src: url(fonts/Sriracha-Regular.ttf) format('opentype');
}

html, body {
    font-family: verdana, tahoma, sans-serif;;
    min-height: 100vh;
    background-color: darkgrey;
}

header {
    background-color: black;
    color: white;
    text-align: center;
}

header h1 {
    font-family: 'Passion One';
    padding-top: 50px;
    font-variant: small-caps;
}

header p {
    padding-bottom: 50px;
}

a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

section{
    font-family: 'Sriracha';
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-size: 3.5vw;
}

section > p {
    padding-bottom: 2em;
}

section.normal {
    background-color: white;
    color: black;
}

section.imagem {
    background-color: rgb(65, 65, 65);
    color: white;
    box-shadow: inset 6px 6px 13px  black;
    background-attachment: fixed;
}

section.imagem p {
    padding: 20px;
    width: 400px;
    background-color: rgba(0, 0, 0, 0.356);
    text-shadow: 1px 1px 1px black;
}

section#img01 {
    background-image: url(imagens/background001.jpg);
    background-position: right center;
    background-size: cover;
}

section#img02 {
    background-image: url(imagens/background002.jpg);
    background-position: right center;
    background-size: cover;
}

footer {
    background-color: black;
    color: white;
    padding: 10px;
    text-align: center;
}
